.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ffffff; /* Or your bg-white variable */
  border-bottom: 1px solid #f0f0f0; /* Optional: adds a nice separation */
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  /* Remove position: sticky from here */
}
.logoWrapper {
  order: 1; 
}

.actions {
  order: 2; 
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.searchWrapper {
  order: 3; 
  width: 100%; 
}

@media (min-width: 670px) {
  .container {
    flex-wrap: nowrap !important; 
  }

  .logoWrapper {
    order: 1;
  }
  .searchWrapper {
    order: 2;
    flex: 1;
    width: 100dvw;
  }
  .actions {
    order: 3;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
  }
  .actions {
    gap: 0.5rem !important;
  }
}
